$primary-green: #11bda9;
$lightest-gray: #efefef;
$light-gray: #e4e1e0;
$medium-gray: #666666;
$white: white;

$font: 'Roboto', sans-serif;
$font-color-meidum: $medium-gray;

$border-gray: $light-gray;
