@import './constants.scss'; 

.Table {
    margin-top: 1.5rem;
    border: 1px solid $border-gray;
    vertical-align: center;
    display: grid;
        
    &__cell {
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid $border-gray;
    }
    
    &__header {
	background-color: $lightest-gray;
	padding: 10px 0;
    }
    
    &__action {
	font-size: 0.9rem;
	color: $primary-green;
    }
}
